/* =====================================================
   PORTFOLIO PAGE
===================================================== */

.portfolio-page {
  width: 100%;
  min-height: 100vh;

  background: #080808;
  color: #ffffff;

  font-family: "Manrope", sans-serif;

  overflow-x: hidden;
}