.portfolio-work {
  width: 88%;
  max-width: 1400px;

  margin: 0 auto;

  padding: 100px 0;
}

.portfolio-work p {
  margin: 0 0 15px;

  color: #1683f7;

  font-size: 9px;

  font-weight: 700;

  letter-spacing: 2px;
}

.portfolio-work h2 {
  margin: 0;

  color: #ffffff;

  font-size: clamp(35px, 5vw, 65px);

  font-weight: 700;

  line-height: 1;

  letter-spacing: -2px;
}